
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetUser</title>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/home/getuser.js"></script>
</head>
<body>
    <div> 
    <input type="text" id="username"/><br />
        <input type="text" id="username" /><br />
        <input type="text" id="username" /><br />
    </div>
</body>
</html>
