<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/home/jquery1.3.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/home/index.js"></script>
</head>
<body>
    测试结果：<div id="div_test">

    </div>

    <div>当前登录用户：'@ViewBag.UserName'</div>
    <input type="hidden" value="@ViewBag.Ticket" id="ticket"/>
</body>
</html>